p,
a,
h1 {
  color: whitesmoke;
}
p,
h1 {
  padding: 3px 1px;
  margin: 7px 2px;
}
h1,
.description {
  text-shadow: 2px 2px 15px white, 0 0 2px whitesmoke, 0 0 0.5px whitesmoke;
}
.menu-item,
a {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}
.menu-item {
  font-weight: lighter;
  transition: 0.7s;
  opacity: 0.25;
}
.home-page-title,
.copyright-link,
.menu-item {
  transition: 0.7s;
}
.home-page-title:hover,
.copyright-link:hover,
.menu-item:hover {
  opacity: 1;
  color: whitesmoke;
  text-shadow: 2px 2px 15px white, 0 0 5px whitesmoke, 0 0 5px whitesmoke;
  transition: 0.7s;
}
.anchor-to-button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.625),
    1px 1px 50px rgba(0, 0, 0, 0.625);
  backdrop-filter: blur(5px);
}
.anchor-to-button:hover {
  background-color: white;
  color: black;
  box-shadow: 1px 1px 15px rgba(245, 245, 245, 0.625),
    1px 1px 15px rgba(245, 245, 245, 0.625);
  backdrop-filter: blur(0px);
}
.menu-item,
#copyright {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main-content {
  min-height: 27vh;
}
@media (min-aspect-ratio: 16/9) {
  #background-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #background-video {
    width: auto;
    height: 100%;
  }
}
/* ---------- */
/* about page */
/* ---------- */
video,
audio {
  pointer-events: none !important;
}
#copyright {
  cursor: pointer;
}

#about-block {
  position: relative;
  z-index: 1 !important;

  background-color: rgba(0, 0, 0, 0.75) !important;

  height: 85vh;
  width: 75vw;
  max-width: 815px;
  min-width: 90px;
  padding: 1vw;

  border: 5px solid whitesmoke;
  border-radius: 25px;

  color: whitesmoke;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}
#about-block h1 {
  font-size: 4rem;
}
#about-block p {
  font-size: 1.25 rem;
}
@media (max-width: 700px) {
  #about-block h1 {
    font-size: 2.5rem;
  }
  #about-block p {
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  #about-block h1 {
    font-size: 2rem;
  }
  #about-block p {
    font-size: 0.75rem;
  }
}
@media (max-width: 366px) {
  #about-block h1 {
    font-size: 1.2rem;
  }
  #about-block p {
    font-size: 0.65rem;
  }
}
@media (max-width: 285px) {
  #about-block h1 {
    font-size: 1rem;
  }
  #about-block p {
    font-size: 0.55rem;
  }
}
@media (max-width: 240px) {
  #about-block h1 {
    font-size: 0.9rem;
  }
  #about-block p {
    font-size: 0.45rem;
  }
}
@media (max-width: 200px) {
  #about-block h1 {
    font-size: 0.75rem;
  }
  #about-block p {
    font-size: 0.4rem;
  }
}
