{% extends 'index.html' %} {% block 'main-content' %}
<div id="about-block" class="">
  <h1>About Protron Beats</h1>
  <p>
    Protron Beats is an online music player application built using Django at
    its core, offering a sleek and intuitive interface for seamless navigation
    through music collections. With features like playlist management,
    customization options, and advanced playback controls, users can
    effortlessly organize and personalize their listening experience. The
    application's responsive design ensures compatibility across various
    devices, while integration with music libraries and community features
    fosters a vibrant music-sharing community. With regular updates and
    dedicated support, Protron Beats redefines online music playback, providing
    a dynamic and immersive platform for music enthusiasts worldwide.
  </p>
  <p>
    Protron Beats is not just a music player; it's a community-driven project
    that welcomes contributors to take it to the next level. As an open-source
    endeavor, developers are invited to join the journey of enhancing and
    refining the application's features. With a repository hosted on
    <a
      href="http://www.github.com/iamwatchdogs/music-player-app"
      target="_blank"
      rel="noopener noreferrer"
      title="goto original project"
      class="home-page-title"
      >GitHub</a
    >, anyone passionate about music and technology can contribute code, suggest
    improvements, or report issues, fostering collaboration and innovation in
    the realm of online music players. Join us in shaping the future of Protron
    Beats and making it the ultimate destination for music lovers worldwide.
  </p>
  <p class="text-center w-auto">
    <a href="/" class="anchor-to-button">Go Back to Home</a>
  </p>
</div>
{% endblock %}
